{% extends "header.html" %}
{% block content %}

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ShoPREE...</h1>
                <p class="lead fw-normal text-white-50 mb-0">is a specially crafted shopping experience for you to satisfy your inner buyer cravings & bring your shopping spree to unparalled levels of new highs!</p>
            </div>
        </div>
    </header>

<div class="flex-wrapper"> </div>
  <div class="footer">{% include "footer.html" %}</div>

{% endblock %}